<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" charset="utf-8">
        <meta name="Content-Style-Type" content="text/css">
    </head>
    <body>
        <h2>My To Do List</h2>
        {% if params %}
        <p>sent: {{params}}</p>
        {% endif %}
        <form action="/todo" method="post">
            <input type="text" name="todo" placeholder="Title...">
            <input type="submit" value="追加">
        </form>

        <form action="/todolist" method="post">
        <ul style="list-style: none;">
            <li><input type="checkbox" name="riyu" value="1" checked="checked">アイス</li>
            <li><input type="checkbox" name="riyu" value="2" checked="checked">スイカ</li>
            <li><input type="checkbox" name="riyu" value="3" checked="checked">カラス</li>
            <li><input type="checkbox" name="riyu" value="4" checked="checked">スズメ</li>
            <li><input type="checkbox" name="riyu" value="5" checked="checked">メダカ</li>
            <li><input type="checkbox" name="riyu" value="6" checked="checked">カゴメ</li>
            <li><input type="submit" value="更新"></li>
        </ul>
        </form>
    </body>
</html>
